body {
    background-color: #F4F5F5;
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body > .container-fluid {
    padding-top: 10px;
}

/* The white background content wrapper */
.page {
    padding: 10px;
    margin-bottom: 10px;

    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    margin-bottom: 17px;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.topbar .btn {
    border: 0;
}

.topbar .brand {
    padding: 4px 20px 0px 0px;
}

.topbar .brand img {
    margin-right: 4px;
}

.topbar .brand small {
    display:block;
    font-size: 10px;
}

.topbar .nav a span {
    border-bottom: 1px solid #BFBFBF;
}

.page {
    padding-bottom: 0px;
}

.page .form-stacked {
    padding-left: 0px;
}

.page form .clearfix {
    margin-bottom: 10px;
}

.form-stacked .actions {
    margin: 0px -10px;
    padding: 10px;
}

.btn.authorization {
    padding-bottom: 5px;
}

form.modal {
    padding-left:0px;
}

.messages {
    z-index: 20000;
    position: fixed;
    width: 100%;
    margin-top: 10px;
}

.messages .alert-message {
    width: 500px;
    margin: 0px auto;
}

ul.params li,
ul.headers li {
    margin-bottom: 5px;
}

ul.params li .btn,
ul.headers li .btn {
    padding: 5px 3px 5px 3px;
}

ul.params li .btn.success,
ul.headers li .btn.success {
    display: none;
}

ul.params li:last-of-type .btn.success,
ul.headers li:last-of-type .btn.success {
    display: inline-block;
}

ul.params li:last-of-type .btn.danger,
ul.headers li:last-of-type .btn.danger {
    display: none;
}

textarea {
    min-width: 390px;
    max-width: 390px;
}

.help-block.hide {
    display: none;
}

pre {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;

    overflow: auto;

    max-width: 900px;
    max-height: 900px;

    white-space: pre;
    word-wrap: normal;
}

pre:empty:before {
    content: 'No Request Initiated';
}

.form-stacked div.clearfix.error {
    padding: 0px 5px 5px 5px;
    margin: 0px -5px 5px -5px;
}

.clearfix.disabled {
    display: none;
}

.sidebar {
    position: fixed;
}

.container-fluid > .content {
    margin-left: 240px;
}

form[name="request"] {
    position: relative;

    padding-bottom: 50px;
}

form[name="request"] .actions {
    height: 30px;

    width: 940px;

}

form[name="request"] .actions.fixed {
    position: fixed;

    z-index: 100;

    bottom: 0px;
}

form[name="request"] .actions input.stop {
    display: none;
}

form[name="request"] .actions.progress {
    background-image: url('../images/progress.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

form[name="request"] .actions.progress input.stop {
    display: inline-block;
}

form[name="request"] .actions.progress input:not(.stop) {
    display: none;
}

#responsePreview {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
background: #FEFBF3;
padding: 9px;
border: 1px solid rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;


font-family: Monaco, Andale Mono, Courier New, monospace;
line-height: 18px;
font-size: 12px;
}

#responsePreview:empty:before {
    content: 'No Preview Available';
}

#responsePreview iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.autocomplete {
    z-index: 99;

    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    min-height: 19px;
    max-height: 100px;

    background-color: white;

    overflow-y: scroll;
}

.autocomplete div {
    padding: 3px;
}

.autocomplete div.active,
.autocomplete div:hover {
    color: white;
    background-color: #3875D7;
    cursor: pointer;
}

.form-stacked label span {
    font-weight: normal;
}

.container {
    width: 960px
}

.sidebar {
    display: none;
}

.paypal {
    box-shadow: none;
    padding: 0px;
    border: none;
    width: auto;
    height: auto;
}

form[name="request"] {
    padding:0px;
}

form[name="request"] > div {
    padding-left: 10px;
}

form[name="request"] #actions {
    margin-top: 10px;
}

form[name="request"].form-stacked > .actions {
    margin-left: 0px;
}
