language: python
python:
  - 3.4
  - 3.3
  - 2.7
  - 2.6
install:
  - pip install coveralls
  - pip install -r tests/requirements.txt
  - pip install -e .[paging]
script: nosetests
after_success: coveralls
