language: python
python:
  - 3.5
  - 3.4
  - 3.3
  - 2.7
  - 2.6
install: pip install coveralls
script: make ci
after_success: coveralls

notifications:
  email:
    on_success: never
    on_failure: change
