<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Flask-RESTFul Console</title>
    <link rel="shortcut icon" href="{{ url_for('ae_static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('ae_static', filename='css/bootstrap-1.3.0.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('ae_static', filename='css/style.css') }}"/>
</head>

<body>
<div class="topbar">
    <div class="fill">
        <div class="container">
            <div class="brand"><img src="{{ url_for('ae_static', filename='images/logo.png') }}" align="left"/> Flask-RESTFul Console
                <small>API Explorer</small>
            </div>

            <ul class="nav">
                {% for (clazz, _) in registry %}
                    <li><a href="#{{ clazz.__name__ }}" scroll><span>{{ clazz.__name__[0] }}</span>{{ clazz.__name__[1:] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <div class="page" id="{{ clazz.__name__ }}">
            <div class="page-header">
                <h1>{{ clazz.__name__ }} [{{ url }}]
                </h1>
            </div>
            <section>
                <div class="row">
                    <div class="span11">
                        <pre>{{- clazz.__doc__ -}}</pre>
                    </div>
                </div>

                {% for method, func in methods.iteritems() %}
                    <form id="{{ clazz.__name__ }}_{{ method }}" class="form-stacked" method="{{ method }}"> <!--action="{{ url }}"-->
                        <div class="row">
                            <div class="span12">
                                <fieldset>
                                    <legend>{{ method|upper }}</legend>
                                    <div class="span8"
                                         style="white-space: pre; font-size: 12px; line-height: 16px; font-family: Monaco, Andale Mono, Courier New, monospace;">{{- func.__doc__ -}}</div>
                                    <div class="span8">
                                        <h4><img src="{{ url_for('ae_static', filename='images/input.png') }}" style="vertical-align:middle">&nbsp;Input</h4>
                                    </div>
                                    <div class="span10">
                                        {% if func._parser.args %}
                                            {% for arg in func._parser.args %}
                                                <div class="input">
                                                    <label for="{{ clazz.__name__ }}_{{ method }}_{{ arg.name }}">{{ arg.name }}</label>
                                                    <input class="span8" type="text" name="{{ arg.name }}" id="{{ clazz.__name__ }}_{{ method }}_{{ arg.name }}"
                                                           placeholder="{{ arg.default if arg.default != None }}" required/>
                                                    <span class="help-block">{{ arg.help if arg.help != None }}</span>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            No input parameter is defined
                                        {% endif %}
                                    </div>


                                    <div class="span8">
                                        <h4><img src="{{ url_for('ae_static', filename='images/output.png') }}" style="vertical-align:middle">&nbsp;Output</h4>
                                    </div>
                                    <div class="span8" id="{{ clazz.__name__ }}_{{ method }}_result">
                                        {% if func._fields %}
                                            <table>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                </tr>
                                                {% for field, type in func._fields.iteritems() %}
                                                    <tr>
                                                        <td>{{ field }}</td>
                                                        <td style="color: #999999">
                                                            {% if type.__getitem__ is defined %}
                                                                {% if type[0]._self is defined %}
                                                                    (embedded)
                                                                {% endif %}
                                                                {{ type[0].__name__ }} []
                                                            {% else %}
                                                                {% if type._self is defined %}
                                                                    (embedded)
                                                                {% endif %}
                                                                {{ type.__name__ }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                            </table>
                                        {% else %}
                                            No Output parameter is defined
                                        {% endif %}
                                    </div>
                                    <div class="span8">
                                        <h4><img src="{{ url_for('ae_static', filename='images/link.png') }}" style="vertical-align:middle">&nbsp;Links</h4>
                                    </div>
                                    <div class="span8" id="{{ clazz.__name__ }}_{{ method }}_links">
                                        {% if func._links %}
                                            <table>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                </tr>
                                                <tr>
                                                    <td>self</td>
                                                    <td style="color: #999999">{{ clazz.__name__ }}</td>
                                                </tr>
                                                {% for field, type in func._links.iteritems() %}
                                                    <tr>
                                                        <td>{{ field }}</td>
                                                        <td style="color: #999999">
                                                            {% if type.__getitem__ is defined %}
                                                                {{ type[0].__name__ }} []
                                                            {% else %}
                                                                {{ type.__name__ }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                            </table>
                                        {% else %}
                                            No Link is defined
                                        {% endif %}
                                    </div>
                                    <div class="span8">
                                        <h4><img src="{{ url_for('ae_static', filename='images/bare.png') }}" style="vertical-align:middle">&nbsp;Bare&nbsp;Response</h4>
                                    </div>
                                    <div class="span8" id="{{ clazz.__name__ }}_{{ method }}_bare">
                                    </div>

                                    <div class="clearfix">
                                        <div class="span4">
                                            <input id="{{ clazz.__name__ }}_{{ method }}_submit" type="submit" data-action="submit" class="btn primary" value="Send"/>
                                            <input type="reset" data-action="reset" class="btn danger" value="Reset"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </section>
        </div>
    </div>
</div>

<script src="{{ url_for('ae_static', filename='js/jquery-1.8.2.js') }}"></script>
<script src="{{ url_for('ae_static', filename='js/app.js') }}"></script>
<script>

    function link2html(link) {
        var result = "<a href='" + link['href'] + "'>";
        if (link['title'] == undefined) {
            result += link['href'];
        }
        else {
            result += link['title'] + "&nbsp;(" + link['href'] + ")";
        }
        return result + "</a>";
    }

    function outer_table(html) {
        return "<table><tr> <th>Name</th> <th>Value</th> </tr>" + html + "</table>";
    }

    function resource2html(resource) {
        var result_html = "";
        var links_html = "";
        var i;
        if ('_links' in resource) {
            var link;
            for (var link_key in resource['_links']) {
                links_html += "<tr><td>" + link_key + "</td><td>";
                var link_element = resource['_links'][link_key];
                if (link_element instanceof Array) {
                    for (i in link_element) {
                        links_html += link2html(link_element[i]) + "<br>";
                    }
                }
                else {
                    links_html += link2html(link_element);
                }
                links_html += "</td></tr>";
            }

        }
        for (var key in resource) {
            if (key == '_embedded') {
                var embedded_html = "";
                var embedded_dict = resource['_embedded'];

                for (var embedded_dict_key in embedded_dict) {
                    embedded_html += "<tr><td>" + embedded_dict_key + "</td><td>";
                    var value = embedded_dict[embedded_dict_key];

                    if (value instanceof Array) {
                        for (i in value) {
                            var output_links = resource2html(value[i]);
                            embedded_html += "<h5>Output " + i + "</h5><br>" + output_links[0] + "<br><h5>Links " + i + "</h5><br>" + output_links[1] + "<br>";
                        }
                    }
                    else {
                        var output_links = resource2html(resource[key]);
                        embedded_html += "<h5>Output</h5><br>" + output_links[0] + "<br><h5>Links</h5><br>" + output_links[1] + "<br>";
                    }
                    embedded_html += "</td></tr>";
                }
                result_html += "<tr><td>(Embedded)</td><td>" + outer_table(embedded_html) + "</td></tr>";
            }
            else if (key != '_links') {
                result_html += "<tr><td>" + key + "</td><td>" + resource[key] + "</td></tr>";
            }
        }
        return [outer_table(result_html), outer_table(links_html)];
    }

    $(document).ready(function () {
        {% for method, func in methods.iteritems() %}

            $("#{{ clazz.__name__ }}_{{ method }}").submit(function () {
                var $form = $(this), $inputs = $form.find("input, select, button, textarea"), serializedData = $form.serialize();
                $inputs.attr("disabled", "disabled");
                $.ajax({
                    url:document.URL,
                    type:"{{ method }}",
                    data:serializedData,

                    success:function (response, textStatus, jqXHR) {
                        var htmls = resource2html(response);
                        var result_html = htmls[0];
                        var links_html = htmls[1];

                        if (result_html) {
                            $("#{{ clazz.__name__ }}_{{ method }}_result").html(result_html);
                        }
                        else {
                            $("#{{ clazz.__name__ }}_{{ method }}_result").html("Empty")
                        }
                        $("#{{ clazz.__name__ }}_{{ method }}_links").html(links_html);
                        $("#{{ clazz.__name__ }}_{{ method }}_bare").html("<pre>" + syntaxHighlight(response) + "</pre>");
                    },
                    error:function (jqXHR, textStatus, errorThrown) {
                        console.log("The following error occured: " + textStatus, errorThrown);
                    },
                    complete:function () {
                        $inputs.removeAttr("disabled");
                    }
                });

                event.preventDefault();
            });

        {% endfor %}
    });
</script>
</body>
</html>
